<div id="navigation-bar-container">
  <div id="title-container">
    <span id="title">South Park Nerd</span>
  </div>
  <div id="buttons-container">
    <div class="button-container"><a class="navigation-button" routerLink="/">Home</a></div>
    <div class="button-container"><a class="navigation-button" routerLink="/blogs">Blog</a></div>
    <div class="button-container"><a class="navigation-button fit" routerLink="/">Episode Generator</a></div>
    <div class="button-container"><a class="navigation-button" routerLink="/">About</a></div>
  </div>
</div>