<div id="navigation-bar-container">
  
  <nav class="burger-container">
    <button mat-button class="menu-button" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class='menu-body'>
      <button mat-menu-item routerLink="/">
        <span class="southpark-font">Home</span>
      </button>
      <button mat-menu-item routerLink="/blogs">
        <span class="southpark-font">Blog</span>
      </button>
      <button mat-menu-item>
        <span class="southpark-font">Episode Generator</span>
      </button>
      <button mat-menu-item>
        <span class="southpark-font">About</span>
      </button>
    </mat-menu>
  </nav>
  
  <div id="title-container">
    <span id="title">South Park Nerd</span>
  </div>
  
  <div id="buttons-container">
    <div class="button-container"><a class="navigation-button" routerLink="/">Home</a></div>
    <div class="button-container"><a class="navigation-button" routerLink="/blogs">Blog</a></div>
    <div class="button-container"><a class="navigation-button fit" routerLink="/">Episode Generator</a></div>
    <div class="button-container"><a class="navigation-button" routerLink="/">About</a></div>
  </div>
  
</div>