<div class="episode-generator-container">
  <div class="title-container">
    <h1 class="section-title">Random Episode Generator</h1>
  </div>
  
  <div class="loading-container" *ngIf="generatingEpisode">
    <app-loading-animation></app-loading-animation>
  </div>

  <div class="loading-container" *ngIf="error && !generatingEpisode">
    <app-error-page [isGenerationPage]="true"></app-error-page>
  </div>

  <div class="episode-container" *ngIf="episode && !generatingEpisode">
    <img class="thumbnail" src="https://i.kym-cdn.com/photos/images/newsfeed/000/952/854/835.gif">
    <div class="texts-container">
      <span class="southpark-font title">{{episode.title}}</span>
      <div 
      class="badge badge-success southpark-font"
      data-toggle="tooltip" data-placement="top" title="Considered as one of the top episodes"
      *ngIf="episode.rating > 8.9">
        Classic
      </div>
      <span class="episode-code"><b>Season:</b> {{episode.season}} <b>Episode:</b> {{episode.episode_number}}</span>
      <div class="starring-container">
        <b>Starring: </b>
        <span class="character-name" *ngFor="let character of episode.characters">{{character.name}} </span>
      </div>
      <span class="synopsis"><b>Synopsis:</b> {{episode.synopsis}}</span>
      <span class="southpark-link">Watch full episodes at <a href="https://www.southparkstudios.com/seasons/south-park">South Park's official website</a></span>
    </div>

  </div>

  <div class="button-container">
    <button 
      type="button" 
      class="btn btn-danger southpark-font grow" data-toggle="tooltip" data-placement="top" title="Randomly generate an episode with a click of a button. You can also input filters or which characters you want to watch"
      (click)="generateEpisode()"
      [disabled]="generatingEpisode">
      Generate
    </button>
  </div>

  <div class="filters-container">
      <div class="section-title-container" (click)="animateCollapse()">
        <i class="material-icons" *ngIf="state === 'small'">chevron_right</i>
        <i class="material-icons" *ngIf="state === 'large'">expand_more</i>
        <span class="section-title southpark-font">Filters</span>
      </div>
      <div class="content-container" [@collapseanimation]='state'>
        <div class="seasons-container southpark-font">
          <span class="filter-title">Select season:</span>
          <div class="buttons-container">
            <button 
              type="button" 
              class="btn btn-danger southpark-font season-button grow" 
              [class.is-selected]="season.selected" 
              *ngFor="let season of episodeQuery.seasons; let i = index"
              (click)="toggleButton(i)">
                {{season.number}}
            </button>
          </div>
        </div>
        <div class="other-filter-container southpark-font">
          <span class="filter-title">Show classic episodes only?</span>
          <div class="radio-list">
            <input 
              type="radio" 
              name="classic" 
              value=1 
              [checked]="episodeQuery.isClassic === 1"
              (change)="toggleClassic(1)">
            <label for="true">Yes</label><br>
            
            <input 
              type="radio" 
              name="classic" 
              value=0
              [checked]="episodeQuery.isClassic !== 1"
              (change)="toggleClassic(0)">
            <label for="true">No</label><br>
          </div>
          
        </div>
      </div>
  </div>
  <div class="filters-container">
    <div class="section-title-container" (click)="animateCharCollapse()">
      <i class="material-icons" *ngIf="charactersHidden === 'hidden'">chevron_right</i>
      <i class="material-icons" *ngIf="charactersHidden === 'reveal'">expand_more</i>
      <span class="section-title southpark-font">Characters</span>
    </div>
    <div class="content-container character-list-container" [@collapsechracters]='charactersHidden'>
      <span class="filter-title southpark-font characters-title">Select which character/s you want to watch?</span>
      <span style="width: 100%">Our algorithm will return an episode that includes all the selected characters. If none is selected, it will show any character</span>
      <div class="character-card" *ngFor="let character of episodeQuery.characters; let i = index">
          <img 
          class="pic" 
          src="{{character.avatar_url}}"> 
          <button class="btn btn-danger southpark-font name grow" 
          [class.is-selected]="character.selected"
          (click)="toggleCharacter(i)">
            {{character.name}}
          </button>
      </div>
    </div>
  </div>

</div>