<div id="blog-list-container">
  <div class="title-container">
    <div class="section-title">Blogs</div>
  </div>

  <div class="loading-animation-container" *ngIf="!posts && !error && isLoading">
    <app-loading-animation></app-loading-animation>
  </div>

  <div id="blog-cards-container" *ngIf="posts && !error && !isLoading">
    <app-blog-card *ngFor="let post of posts" [post]="post"></app-blog-card>
  </div>

  <div *ngIf="!posts && error && !isLoading">
    Create a common component or modal
  </div>
</div>