.error-container {
  display: flex;
  align-items: center;

  img {
    width: 500px;
    height: 600px;
  }

  .error-content-container {
    display: flex;
    flex-direction: column;

    button {
      width: 200px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .error-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    img {
      width: 200px;
      height: 300px;
    }

    .error-content-container {
      font-size: 30px;
      text-align: center;
      display: flex;
      align-items: center;
    }


  }
}