#blog-page-container {
  display: flex;
  justify-content: center;

  .blog-post-container {
    margin-top: 50px;
    width: 1000px;
  
    .title-container {
      font-size: 70px;
    }
    
    .title-line {
      width: 10%;
      text-align: left;
      margin-left: 0;
      background-color: #808080;
      height: 2px;
    }

    .author-container, .date-container {
      font-size: 20px;
      color: #808080;
    }

    .thumbnail-container {
      display: flex;
      justify-content: center;

      .thumbnail-element-container {
        display: flex;
        flex-direction: column;
  
        margin-top: 50px;
        margin-bottom: 50px;
        
        .thumbnail {
          width: 800px;
          height: 500px;
        }
  
        .thumbnail-caption {
          color: #808080;
          font-size: 15px;        
        }
      }
    }

    .content-container {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      p, ul {
        width: 700px;
        margin-bottom: 50px;
      }

      h1 {
        width: 800px;
        margin-bottom: 50px;
        font-family: "southpark", Arial, sans-serif;
      }

      .screen-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;

        img {
          width: 800px;
          height: 500px;
        }

        .screen-caption {
          color: #808080;
          font-size: 15px;
        }
      }
    }

  }

}

@media only screen and (max-width: 800px) {
  #blog-page-container {

    .blog-post-container {
      width: 100%;

      .use-padding {
        padding-left: 15px;
        padding-right: 15px;
      }

      .title-line {
        margin-left: 15px;
      }
      
      .title-container {
        font-size: 30px;
        width: 100%;
      }

      .thumbnail-container {
        width: 100%;
      }

      .author-container, .date-container {
        font-size: 15px;
      }

      .thumbnail-element-container {


        .thumbnail {
          width: 100% !important;
          height: auto !important;
        }
        .thumbnail-caption {
          padding-left: 15px;
        }
      }

      .content-container {
        font-size: 15px;
        width: 100%;

        p {
          width: 100%;
          @extend .use-padding;
        }

        ul {
          width: 100%;
          padding-right: 10px;
          padding-left: 25px;
        }

        h1 {
          width: 100%;
          font-size: 25px;
          @extend .use-padding;
        }
      }

      .screen-container {
        img {
          width: 100% !important;
          height: auto !important;
        }

        .screen-caption {
          @extend .use-padding;
        }
      }
    }
  }
}