<div id="blog-page-container">
  <!-- create a common loading comp -->
  <div class="blog-post-container" *ngIf="!post && !error && isLoading">
    <app-loading-animation></app-loading-animation>
  </div>

  <div class="blog-post-container" *ngIf="post && !error && !isLoading">
    <div class="use-padding">
      <span class="title-container southpark-font">{{post.title}}</span>
    </div>
    
    <hr class="title-line">
    
    <div class="author-container use-padding">{{post.author}}</div>
    
    <div class="date-container use-padding">{{post.date_posted}}</div>
    
    <div class="thumbnail-container">
      <div class="thumbnail-element-container">
        <img class="thumbnail" src="{{post.thumbnail_link}}">
        <span class="thumbnail-caption">S01E01 Cartman Gets An Anal Probe. The pilot episode of South Park</span>
      </div>
    </div>
  
    <div class="content-container" [innerHTML]="post.content">
    </div>

  </div>

  <div class="blog-post-container" *ngIf="!post && error && !isLoading">
    <app-error-page></app-error-page>
  </div>
</div>