
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-southparknerd-primary: mat-palette($mat-indigo);
$app-southparknerd-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-southparknerd-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-southparknerd-theme: mat-light-theme((
  color: (
    primary: $app-southparknerd-primary,
    accent: $app-southparknerd-accent,
    warn: $app-southparknerd-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-southparknerd-theme);

@import '~bootstrap/dist/css/bootstrap.min.css';

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "southpark";
  src: local("southpark", url(./assets/fonts/southpark.ttf)) format("opentype");
}

@font-face {
  font-family: "robotolight";
  src: local("robotolight", url(./assets/fonts/robotolight.ttf)) format("opentype");
}

.grow { 
  transition: all .2s ease-in-out; 
}
.grow:hover { 
  transform: scale(1.1); 
}

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;

  .section-title {    
    font-family: "southpark", Arial, sans-serif;
    color: #e3a788;
    font-size: 45px;
  }

  .southpark-font {
    font-family: "southpark", Arial, sans-serif;
  }

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
